<h1>Restaurants</h1>

<%= link_to "About", about_index_path %>
<br />
<%= link_to 'Add a new restaurant', new_restaurant_path %>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
<% @restaurant.each do |restaurant| %>
  <tr>
    <td><%= image_tag restaurant.restaurantimage_url(:thumbnail).to_s %></td>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.description %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>    
    <td><%= link_to 'Destroy', restaurant_path(restaurant), method: :delete, data: {confirm: 'Are you sure?'}  %></td>
  </tr>
<% end %>
</table>
