<%= link_to 'Return to restaurant index', restaurants_path %>
<br />
<%= link_to 'Edit restaurant information', edit_restaurant_path(@restaurant) %>

<!-- PARTIALS TO BE ADDED -->

<p>
  <strong>Name</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Description</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Address</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone</strong>
  <%= @restaurant.phone %>
</p>
